* {
    margin: 0%;
}

html,body {
    background: #e0d2b4;
    margin: 0%;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

header {
    padding: 3% 7% 4% 0%;
    display: inline-block;
    color: burlywood;
    background: #3A1F04;
    margin: 0%;
    height: auto;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
  
  
main {
    display: flex;
    flex-direction: column;
}

aside {
    float: left;
}

h1 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-transform: bold;   
    padding: 0 2%;
    margin: -1% 0;
    text-decoration: none;
    font-size: 50px;
}

h2 {
    float: left;
    text-align: center;
    text-decoration: none;
    color: #3A1F04;
    padding: 0 1%;
    margin: 1% 0;
    font-size: 30px;
}

h3 {
    float: left;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    padding: 0 1%;
    margin: 1% 0;
    font-size: 20px;
}

.p1 {
    margin: 5% 10% 10% 5%
}

.p2 {
    margin: 10% 5% 5% 10%
}

/*navigation bar*/

.topnav {
    overflow: hidden;
    background-color: #3A1F04;
    margin: 0px;
    padding: 10px;
}

.topnav a:hover {
    background-color: burlywood;
    color: black;
}

.topnav a:active {
    background-color: white;
    color: white;
}

.topnav-right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-transform: lowercase;   
    padding: 0 2%;
    text-decoration: none;
    font-size: 30px;
}

nav {
    display: inline;
    padding-right: 2%;
    padding-top: 4%;
    color: burlywood;
    background: #3A1F04;
    margin: 0%;
    height: 25%;
    width: 75%;
}
.menu ul {
    float: right;
    text-align: center;
    display: inline-flex;
    list-style-type: none;
    height: 100%;
    width: 28%;
}

.menu ul li {
    display: inline-block;
    height: 0%;
}

.menu ul li a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-transform: lowercase;   
    padding: 0 2%;
    text-decoration: none;
    font-size: 30px;
}
    /* display: inline-block;
    color: burlywood;
    background: #3A1F04;
    margin: 0%;
    height: 100%;
} */

li a:hover:not(.active) {
    background-color: burlywood;
}

/*brackets*/

.divider-small {
    display: inline-block;
    border-right: 3px solid white;
    margin: -3% 2%;
    padding: 0% 1%;
    height: 50px;
}

.divider-large {
    display: inline-block;
    border-right: 3px solid #3A1F04;
    margin: 13px 3px;
    height: 50px;
}
/*images*/

.bannerFlair {
    background-image: url(../Images/bannerFlair.png);
}

.columnMain {
    background-image: url(../Images/ipFinder.jpeg);
}

.columnOne {
    background-image: url(../Images/cryptoGenerator.jpeg);
}

.columnTwo {
    background-image: url(../Images/voiceDisguise.jpeg);
}

.columnThree {
    background-image: url(../Images/launchCode.jpeg);
}

.columnFour {
    background-image: url(../Images/dogCalendar.jpeg);
}

/*image styles*/

.banner {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background: none;

}

.bnr-img {
    background-image: url("./Images/banner.jpeg");
    min-height: fit-content;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20 px;
    width: auto
}

.bannerMain{
    max-width: 100%;
    height: 10px;
    background-image: url(Images/bannerMain.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background: burlywood;
}

.mainContainer {
    margin: 4rem auto;
    max-width: 70rem;
    padding: 0 20px;
    width: 100%;
}

.mainHeader {
    background-image: url(./Images/bannerMain.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: burlywood;
    padding: 80px 0;
}

.banner-container {
    align-items: center;
    background-color: burlywood;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding: 15px 20px;
}
