/*custom font*/

@font-face {
    font-family: "libreNormal";
    src: url("Assets/Fonts/AbhayaLibre-Regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "libreLight";
    src: url("Assets/Fonts/AbhayaLibre-Medium-webfont.woff") format('woff');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: "libreBold";
    src: url("Assets/Fonts/AbhayaLibre-Bold-webfont.woff") format('woff');
    font-weight: bold;
    font-style: normal;

}


* {
    margin: 0%;

}

h1 {

}

h2 {


}

h3 {

}

.banner {
    background-image: url("./Assets/Images/banner.png");
    align-items: center;
}

.ipFinder {
    background-image: url("./Assets/Images/ipFinder.jpeg");
}

.nftGenerator {
    background-image: url("./Assets/Images/cryptoGenerator.jpeg");
}

.launchCode {
    background-image: url("./Assets/Images/launchCode.jpeg");
}

.voiceDisguise {
    background-image: url("./Assets/Images/voiceDisguise.jpeg");
}

.dogCalendar {
    background-image: url("./Assets/Images/dogCalendar.jpeg");
}

